x_Kp 123123
x_Ki 0.00
x_Kd 0
x_integThreshold 0.02
x_outMax 1.0
x_outMin 0.15
x_slopeMax 0.10
x_deadVol 0.05
y_Kp 1.0
y_Ki 0.00
y_Kd 0
y_integThreshold 0.10
y_outMax 0.7
y_outMin 0.15
y_slopeMax 0.10
y_deadVol 0.05
theta_Kp 1.0
theta_Ki 0.0
theta_Kd 0
theta_integThreshold 0.10
theta_outMax 1.0
theta_outMin 0.02
theta_slopeMax 9999
theta_deadVol 0.02
